
<footer>
    version: {{ site.version }}

    <ul class="link-list">
        <li><a href="/about">{{ texts.ABOUT }}</a></li>
        <li><a href="/contact">{{ texts.CONTACT }}</a></li>
        <li><a href="/terms-and-privacy">{{ texts.TERMS }}</a></li>
    </ul>
</footer>
