<div>
    {{#if user}}
        Hello, {{ user.givenName }}
    {{/if}}


    {{#if user }}
        <a role="logout" href="/logout">{{ texts.LOGOUT }}</a>
    {{else}}
        <a role="login" href="/login">{{ texts.LOGIN }}</a>
    {{/if}}


    Choose your language:
    <ul>
        <li><a role="set_lang" class="{{#ifval lang value="en"}}active{{/ifval}}" href="?clang=en">English</a></li>
        <li><a role="set_lang" class="{{#ifval lang value="de"}}active{{/ifval}}" href="?clang=de">German</a></li>
    </ul>

</div>
